@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --midway-rgb: 223, 223, 223;
  --background-rgb: 255, 255, 255;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  min-height: 100dvh;
}

.soft {
  opacity: .6;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.payment {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding: 24px;
  transition: height .2s;
}

.payment .payment-data {
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color: rgb(var(--midway-rgb));
  padding: 16px;
  text-align: center;
  transition: height .2s;
}

.payment .payment-data .to-name {
  font-weight: bold;
  transition: all .2s;
}

.payment .payment-data .price {
  font-size: 2em;
  font-weight: 900;
  transition: all .2s;
}

.payment .payment-data .description {
  font-size: .8em;
}

.payment .payment-data.compressed {
  display: flex;
  justify-content: space-between;
}

.payment .payment-data.compressed .price {
  font-size: 1em;
  font-weight: bold;
}

.payment .payment-data.compressed .description {
  display: none;
}

.payment .intro .details {
  margin-top: 1em;
  margin-bottom: 1.5rem;
}

.payment .connect .connect-title {
  margin-top: 1em;
  font-size: 1.5em;
}

.payment .account {
  display: flex;
  gap: .5em;
  align-items: center;
}

.payment button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
  margin-top: .5em;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}

.payment button.secondary {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  padding: 4px;
}

@media (min-width: 600px) {
  main {
    justify-content: center;
    gap: 32px;
  }

  .logo {
    flex-grow: 0;
  }

  .payment {
    border-radius: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --midway-rgb: 63, 63, 63;
    --background-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
